.horizontal.slider-container .slick-dots li.slick-active div {
  background: red !important;
  border: 4px solid red !important;
}

.horizontal.slider-container .slick-dots li div {
  transition: ease-in-out all 0.3s;
}

.horizontal.slider-container .slick-dots li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal.slider-container .slick-slide.slick-current img {
  transform: scale(1.1);
  transition: ease-in-out all 0.3s;
}

.horizontal.slider-container .slick-slide img {
  margin-left: 10px;
  padding: 4px;
  border-radius: 1rem;
}

.account-field:focus {
  outline: none;
}

.MuiAutocomplete-listbox{
  padding: 10px 0 !important;
  color: white;
  background: #272828;
  border-radius: 30px;
}

.MuiAutocomplete-paper{
  background-color: transparent !important;
  box-shadow: none !important;
  background-image: none !important;
}

.MuiAutocomplete-root{
  padding: 0 !important;
}

.MuiAutocomplete-popper{
  margin-top: 10px !important;
}
